.about-main-container {
        background: url('../../../public/images/img-7.jpg') center center/cover 
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    opacity: 1.2;
}

.about-main-container > div {
    margin-left: 20px;
    width: 30%;
}

p {
    font-family: "Prompt", thin 100;
}


@media screen and (max-width: 960px){
    .about-main-container > div {
        margin-left: 20px;
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    .about-main-container > div {
        margin-left: 20px;
        width: 100%;
    }
}